certifi==2024.2.2
click==7.1.2
configparser==7.0.0
fastapi==0.62.0
h11==0.14.0
minio==5.0.10
pillow==10.3.0
pydantic==1.7.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
qrcode==6.1
six==1.16.0
starlette==0.13.6
urllib3==2.2.1
uvicorn==0.13.0
